.div-puzzle {
  width: 400px;
}
.header {
  width: 100%;
  height: 100px;
  background-color: #141f40;
}
.main {
  width: 100%;
  height: 250px;
  background-color: #80bfa8;
}
.right-container {
  float: right;
  width: 250px;
  height: 100%;
  background-color: #8c2727;
}
.box1 {
  width: 100%;
  height: 150px;
  background-color: #0093b7;
}
.box2 {
  float: right;
  width: 100px;
  height: 100%;
  background-color: #ff9e6b;
}
.box3 {
  float: left;
  width: 150px;
  height: 50px;
  background-color: #dbd400;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: #d98d30;
}

@media screen and (max-width: 767px) {
  .div-puzzle {
    width: 300px;
  }
  .right-container {
    width: 200px;
  }
  .box2 {
    width: 75px;
  }
  .box3 {
    width: 125px;
  }
}

@media screen and (max-width: 479px) {
  .div-puzzle {
    width: 150px;
  }
  .main {
    height: 450px;
  }
  .right-container {
    width: 100%;
    height: 350px;
    margin-top: 100px;
  }
  .box1 {
    height: 250px;
  }
  .box2 {
    width: 100%;
    height: 100px;
  }
  .box3 {
    width: 100%;
  }
}