.div-puzzle {
  width: 400px;
}
.header {
  padding: 20px;
  width: 100%;
  height: 100px;
  background: #141f40;
  box-sizing: border-box;
}
.header-container {
  float: right;
  padding: 10px;
  width: 160px;
  height: 60px;
  background: #fff;
  box-sizing: border-box;
}
.innner-box {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background: #a9004b;
}
.innner-box:first-child {
  margin: 0;
}
.main {
  width: 100%;
  height: 250px;
  background: #80bfa8;
}
.right-container {
  float: right;
  padding: 40px;
  width: 250px;
  height: 100%;
  background: #8c2727;
  box-sizing: border-box;
}
.box {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  border: solid 5px #fff;
  background: #ff863f;
  box-sizing: border-box;
}
.box:first-child {
  margin: 0;
}
.footer {
  width: 100%;
  height: 100px;
  background: #d98d30;
}

@media screen and (max-width: 479px) {
  .div-puzzle {
    width: 200px;
  }
  .header {
    padding: 20px 70px;
    height: 200px;
  }
  .header-container {
    width: 60px;
    height: 160px;
  }
  .innner-box {
    margin-top: 10px;
    margin-left: 0px;
  }
  .innner-box:first-child {
    margin: 0;
  }
  .main {
    height: 300px;
  }
  .right-container {
    padding: 15px 25px;
    width: 100%;
    height: fit-content;
    margin-top: 100px;
  }
}